 /* Hero Section Styling */
    /*.hero-section {*/
    /*    background-image: url('./image/home-1/Header-Images-1920-1150-new.webp'); */
    /*    background-size: cover;*/
    /*    background-position: center;*/
    /*    height: 120vh; */
    /*    color: #333; */
    /*    position: relative;*/
    /*    overflow: hidden;*/
    /*    width: auto;*/
    /*}*/

    .hero-content {
        text-align: center; /* Center text horizontally */
    }

    .hero-title {
        line-height: 82px;
        font-size: 83px;
        letter-spacing: -5px;
        font-weight: 500;
        color: #1f1f1f;
        word-break: break-word; /* Allow breaking for long words */
    }



.hero-subtitle {
    font-size: 18px;
    color: #000;
    margin: 0 auto; /* Center the text block */
    text-align: center !IMPORTANT; /* Align text inside the <p> tag */
    line-height: 1.6;
    font-family: 'General Sans';
}
    .hero-button {
        background-color: #1463FF;
        color: #fff;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border: none;
        border-radius: 48px;
        text-transform: uppercase;
        font-weight: 600;
        transition: background-color 0.5s, border 0.5s;
        margin-top:20px;
    }

    .hero-button:hover {
        background-color: #fff;
        border: 1px solid #1463FF;
        color: #000;
    }

    .content-set {
        padding-top: 120px;
    }
    @media (max-width: 600px) {
   .hero-title {
    font-size: 39px;
    letter-spacing: -3px;
    line-height: 40px;
    font-weight: 700;
    color: #1f1f1f;
    word-break: break-word;
}
.content-set {
    padding-top: 90px;
}
    .hero-subtitle {
    font-size: 17px;
    color: #000;
    margin: 0 auto; /* Center the text block */
    text-align: center !IMPORTANT; /* Align text inside the <p> tag */
    line-height: 1.6;
    padding-top: 10px;
    padding-top: 10px;
}
.hero-section {
        background-image: url('./image/home-1/Header-Images-1920-1150-new.webp'); /* Update with your image path */
        background-size: cover;
        background-position: center;
        height: 105vh; /* Full viewport height */
        color: #333; /* Text color */
        position: relative;
        overflow: hidden;
        width: auto;
    }

}

@media (min-width: 768px) {
  .hero-section {
        background-image: url('./image/home-1/Header-Images-iPad.webp'); /* Update with your image path */
        background-size: cover;
        background-position: center;
        /*height: 40vh; */
        color: #fff !IMPORTANT;; /* Text color */
        position: relative;
        overflow: hidden;
        width: 100%;
    }
       .hero-title {
    font-size: 44px;
    letter-spacing: -3px;
    line-height: 50px;
    font-weight: 700;
    color: #1f1f1f;
    word-break: break-word;
}
.content-set {
    padding-top: 70px;
    flex: 0 0 auto;
    width: 91.666667%; /* Equivalent to col-11 */
}
.hero-content{
    padding-bottom: 270px;
}
    .hero-subtitle {
    font-size: 18px;
    color: #000;
    margin: 0 auto; /* Center the text block */
    text-align: center !IMPORTANT; /* Align text inside the <p> tag */
    line-height: 1.6;
    padding-top: 10px;
    flex: 0 0 auto;
    width: 91.666667%; /* Equivalent to col-11 */
}
.hero-button {
    margin-top:10px;
}
}
@media (min-width: 992px) {
  .hero-section {
        background-image: url('./image/home-1/Header-Images-1920-1150-new.webp'); /* Update with your image path */
        background-size: cover;
        background-position: center;
        height: 80vh; /* Full viewport height */
        color: #fff !IMPORTANT;; /* Text color */
        position: relative;
        overflow: hidden;
        width: auto;
    }
}
@media (min-width: 1200px) {
  
}
@media (min-width: 1400px) {
  .hero-section {
        background-image: url('./image/home-1/Header-Images-1920-1150-new.webp'); /* Update with your image path */
        background-size: cover;
        background-position: center;
        height: 120vh; /* Full viewport height */
        color: #fff !IMPORTANT;; /* Text color */
        position: relative;
        overflow: hidden;
        width: auto;
    }
    .hero-title {
        line-height: 82px;
        font-size: 83px;
        letter-spacing: -5px;
        font-weight: 500;
        color: #1f1f1f;
        word-break: break-word; /* Allow breaking for long words */
    }
    .content-set {
    padding-top: 100px;
}
}
